:root {
  --bgcolor: linear-gradient(
    to bottom right,
    aliceblue,
    red,
    white,
    red,
    aliceblue
  );
}
.logo {
  height: 100%;
}
.logo img {
  height: 100%;
  width: 100%;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: black;
  height: 8vh;
}
.nav {
  display: flex;
  height: inherit;
  width: 20%;
  justify-content: space-around;
  align-items: center;
}
.link {
  color: aliceblue;
  text-decoration: none;
}
.linkDiv {
  color: aliceblue;
  padding: 1vh 1vw;
}
.linkDiv:hover {
  background: var(--bgcolor);
  transform: scale(1.02);
  cursor: pointer;
}
.linkDiv:active {
  transform: scale(0.98);
}
